nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/coolcinema/placeholder
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 3000

ingress: []

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env: {}
