apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "microservice.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
  {{- if .Values.service.ports }}
  {{- range .Values.service.ports }}
    - port: {{ .port }}
      targetPort: {{ .port }}
      protocol: {{ .protocol | default "TCP" }}
      name: {{ .name }}
  {{- end }}
  {{- else }}
    # Fallback для старых сервисов (если ports не передан)
    - port: {{ .Values.service.port | default 5000 }}
      targetPort: {{ .Values.service.port | default 5000 }}
      name: http
  {{- end }}
  selector:
    app.kubernetes.io/name: {{ include "microservice.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
